@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-font: 'Mulish', sans-serif;
  --title-font: 'Mulish';
  --para-font: sans-serif;
  --title-size: 24px;
  --sub-title: 21px;
  --para-size:16px;
  --primary-color-light: #F2F3D9;
  --primary-color-dark: #030027;
  --title-color-light: #F2F3D9;
  --title-color-dark: #030027;
  --font-color-light: #F2F3D9;
  --font-color-dark: #030027;
  --mixed-color: #DC9E82;
  --button-background-color: #C16E70;
  --button-hover-color: #DC9E82;
  --background-color-light: #F2F3D9;
  --background-color-tarsiary: #C16E70;
  --background-color-light-tarsiary: #DC9E82;
  --transition: 0.4s all ease-in-out;
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 100%;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color-tarsiary);
}

.nav_bar .logo a {
  text-decoration: none;
  color: var(--font-color-light);
  font-size: 22px;
  font-weight: 600;
}

.nav_bar .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  gap: 15px;
}

.nav_bar .nav_menu li {
  list-style: none;
}

.nav_bar .nav_menu li a {
  text-decoration: none;
  color: var(--font-color-light);
  font-size: 18px;
}

.nav_bar .hammerbug {
  display: none;
  cursor: pointer;
}

.nav_bar .hammerbug .box {
  width: 32px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--background-color-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (max-width: 786px) {
  .nav_menu {
    position: fixed !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    text-align: center;
    width: 250px;
    left: -100%;
    top: 70px;
    padding-top: 100px;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    gap: 20px;
    background-color: var(--background-color-light-tarsiary);
  }
  .active {
    left: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .hammerbug {
    display: block !important;
  }
  .toggle_menu .box:nth-child(2) {
    opacity: 0;
  }
  .toggle_menu .box:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .toggle_menu .box:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(100%, rgba(1, 0, 21, 0.356478)), color-stop(100%, rgba(0, 0, 0, 0.376085)), to(#00d4ff)), url("../img/bg_img.jpeg");
  background-image: linear-gradient(90deg, #020024 0%, rgba(1, 0, 21, 0.356478) 100%, rgba(0, 0, 0, 0.376085) 100%, #00d4ff 100%), url("../img/bg_img.jpeg");
  background-position: center center;
  color: var(--font-color-light);
}

#home h1 {
  font-size: 75px;
  font-family: var(--title-font);
}

#home .home_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

#home .home_service .service {
  background-color: var(--background-color-tarsiary);
  padding: 5px 10px;
  border-radius: 8px;
}

#home .home_service .service h3 {
  font-size: 15px;
}

#home .home_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

#home .home_bottom a {
  text-decoration: none;
  color: var(----mixed-color);
  margin: 0 5px;
  font-size: var(--para-size);
}
/*# sourceMappingURL=style.css.map */