@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --body-font: 'Mulish', sans-serif;
  --title-font: 'Mulish';
  --para-font: sans-serif;
  --title-size: 32px;
  --sub-title: 21px;
  --para-size:18px;
  --primary-color-light: #F2F3D9;
  --primary-color-dark: #030027;
  --title-color-light: #F2F3D9;
  --title-color-dark: #030027;
  --font-color-light: #F2F3D9;
  --font-color-dark: #030027;
  --mixed-color: #DC9E82;
  --button-background-color: #C16E70;
  --button-hover-color: #DC9E82;
  --background-color-light: #F2F3D9;
  --background-color-tarsiary: #C16E70;
  --background-color-light-tarsiary: #DC9E82;
  --transition: 0.4s all ease-in-out;
}

.section_part {
  margin-top: 80px;
}

.container {
  margin-top: 40px;
}

@media screen and (max-width: 786px) {
  .grid {
    margin-top: 80px;
  }
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 100%;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color-tarsiary);
}

.nav_bar .logo a {
  text-decoration: none;
  color: var(--font-color-light);
  font-size: 22px;
  font-weight: 600;
}

.nav_bar .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  gap: 15px;
}

.nav_bar .nav_menu li {
  list-style: none;
}

.nav_bar .nav_menu li a {
  text-decoration: none;
  color: var(--font-color-light);
  font-size: 18px;
}

.nav_bar .hammerbug {
  display: none;
  cursor: pointer;
}

.nav_bar .hammerbug .box {
  width: 32px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--background-color-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

@media screen and (max-width: 786px) {
  .nav_menu {
    position: fixed !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    text-align: center;
    width: 250px;
    left: -100%;
    top: 70px;
    padding-top: 100px;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
    gap: 20px;
    background-color: var(--background-color-light-tarsiary);
  }
  .active {
    left: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .hammerbug {
    display: block !important;
  }
  .toggle_menu .box:nth-child(2) {
    opacity: 0;
  }
  .toggle_menu .box:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .toggle_menu .box:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

#home {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-attachment: fixed;
}

#home p {
  font-size: var(--para-size);
}

#home img {
  max-width: 400px;
}

#home .home_btn a {
  text-decoration: none;
  font-size: 18px;
  color: var(--font-color-light);
  background-color: var(--background-color-tarsiary);
  padding: 8px 16px;
  border-radius: 5px;
}

#home .home_btn a:hover {
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 3px solid var(--mixed-color);
  color: var(--mixed-color);
  font-weight: 600;
}

#home .socail_icon {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: -20px;
}

#home .socail_icon a {
  text-decoration: none;
  margin-left: 8px;
  color: var(--mixed-color);
  font-weight: 600;
}

#about h1 {
  font-size: var(--title-size);
  color: var(--mixed-color);
  text-align: center;
}

#about img {
  max-width: 400px;
}

#about p {
  text-align: justify;
}

#about .about_btn a {
  text-decoration: none;
  font-size: 18px;
  color: var(--font-color-light);
  background-color: var(--background-color-tarsiary);
  padding: 8px 16px;
  border-radius: 5px;
}

#about .about_btn a:hover {
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 3px solid var(--mixed-color);
  color: var(--mixed-color);
  font-weight: 600;
}

#skill h1 {
  font-size: var(--title-size);
  color: var(--mixed-color);
  text-align: center;
}

body {
  background-color: var(--background-color-light);
}
/*# sourceMappingURL=style.css.map */