#home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position:relative;
    background-attachment: fixed;

    p {
        font-size: var(--para-size);
    }

    img {
        max-width: 400px;
    }

    .home_btn {
        a {
            @include custom_btn;
            &:hover{
                @include button_hover;
            }
        }
    }
    .socail_icon{
        position:absolute;
        right:0;
        transform: rotate(90deg);
        margin-right:-20px;
        a{
            text-decoration:none;
            margin-left:8px;
            color: var(--mixed-color);
            font-weight:600;
        }
    }

}


